.site-search {
  margin-top: 90px;
  margin-bottom: 150px;
  .not-found {
    h1 {
      margin-bottom: 15px;
    }
  }
  .page-content {
    > p {
      margin-bottom: 40px;
    }
    .search-form {
      max-width: 400px;
      width: auto;
      input {
        width: 100%;
      }
      button {
        border: none;
        color: $color__bright;
        border-radius: 0px;
        padding-left: 25px;
        padding-right: 25px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  article {
    padding: 25px 0px;
  }
}
