/* PRESETS
/––––––––––––––––––––––––*/

.content-block {
  //create the "container" with this applied to any row or any 100% width element
  padding: 0 1rem;
  @media #{$breakpoint-sm-up} {
    padding: 0 2rem;
  }
  @media #{$breakpoint-md-up} {
    padding: 0 3.2rem;
  }
}
.content-block-smaller {
  //create the "container" with this applied to any row or any 100% width element
  padding: 0 1rem;
  @media #{$breakpoint-sm-up} {
    padding: 0 3rem;
  }
  @media #{$breakpoint-md-up} {
    padding: 0 6.5rem;
  }
}

.noscroll {
  overflow: hidden;
}

:focus {
  outline: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

ul.list {
  list-style-position: inside;
  list-style: none;
  li {
    &:before {
      content: "•";
      font-size: 18px;
      color: $color__main;
      display: inline-block;
      width: 1em;
    }
  }
}
