#blockDocuments {
  h3 {
    padding: 20px 0px;
    border-bottom: 1px solid $color__footerBg;
  }
  ul {
    li {
      padding: 15px 0px;
      border-bottom: 1px solid $color__grey;
      padding-right: 50px;
      position: relative;
      &::after {
        @include pseudo;
        width: 38px;
        height: 38px;
        background-image: url("./../images/download.svg");
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:first-of-type {
        padding: 20px 0px 15px;
        padding-right: 50px;
      }
      a {
        color: $color__text;
        width: 100%;
        &:hover {
          color: $color__link-hover;
        }
      }
    }
  }
}
